.button {
    background-color: #2eafc6;
    border: none;
   
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }
  
  .button:hover {background-color: #33963a;
    color: white;
}


  .button-up {
    background-color: #1b9a49;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;

  }

  .button-up:hover {opacity: 2}

  .react-pdf__Page__canvas_Single_ViewI {
    margin: 0 auto;
    width: 75% !important;
    height: 100% !important;
  }

  


  
  .button-view {
    background-color: #c2a814;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;

  }

  
  .button-view:hover {opacity: 2}

  
  .button-dele {
    background-color: #ff0000;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;

  }

  
  .button-dele:hover {opacity: 2}


    
  .button-update {
    background-color: #0d802f;
    border: none;
    color: rgb(0, 0, 0);
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: -1;
    transition: 0.5s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;

  }

  
  .button-update:hover {opacity: 2}



  .button-search{
    background-color: #1b549a;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;

  }

  
  .button-search:hover {opacity: 2}

.react-pdf__Page__canvas_d {
    margin: 0 auto;
    width: 65% !important;
    height: 100% !important;
  }

  .button-report {
    background-color: #2600ff;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;

  }


  

  .logos {
    width:50px;
    height: 50px;
    margin: auto;
    background: url('http://45.79.67.59/logo_thumb_bar.jpg');
    background-size: cover;
  
  }
  
  @keyframes play {
    100% { background-position: 500px; }
  }
  .logos:hover{
    -webkit-animation: notexistent;
      animation: notexistent;
    animation: play 2.5s steps(5) infinite;
  }



 .logo{
   width: 50px;
   height: 50px;
 }


 .btn_green {
  background-color: #365afa;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  font-size: 18px;
  margin: 4px 2px;
  opacity: 0.9;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  width: 80%;
  cursor: pointer;
}

.btn_green:hover {
  background-color: #3f29be;
}


.btn_red {
  background-color: #fa3660;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  font-size: 18px;
  margin: 4px 2px;
  opacity: 0.9;
  transition: 0.3s;
  display: inline-block;
  width: 90%;
  text-decoration: none;
  cursor: pointer;
}

.btn_red:hover {
  background-color: #8a0421;
}

.invntry_tbl_header {
  width: 100%;
}


