.buttonG {
    background-color: #000080;
    border: none;
    color: white; 
    padding: 10px 18px; 
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    /*opacity: 0.6;*/
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }
  
  .button:hover {opacity: 0.6} 


  .buttonAdd {
    background-color: #000080;
    border: none;
    color: white; 
    padding: 8px 10px; 
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    /*opacity: 0.6;*/
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }
  
  .button:hover {opacity: 0.6} 
 


  .button-upp {
    background-color: #1b9a49;
    border: none;
    color: white; 
    padding: 10px 18px; 
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    /*opacity: 0.6;*/
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;

  }


  .button-upp:hover {opacity: 0.6} 


  
  .button-vieww {
    background-color: #e4c517;
    border: none;
    color: black;
    padding: 10px 12px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    /*opacity: 0.6;*/
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;

  }

  
   .button-vieww:hover {opacity: 0.6} 

  
  .button-delee {
    background-color: #ff0000;
    border: none;
    color: white;
    padding: 10px 12px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
   /*opacity: 0.6;*/
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;

  }

  
  .button-delee:hover {opacity: 0.6} 

  
  .rGenerate{

    margin: 0 auto;
    width: 50% !important;
    height: 100% !important;

  }

#outer
{
    width:100%;
     
     
}
.inner
{
    display: inline-block;
}

 
